Debug
Release
.vs
$GIT_DIR/exec/data
exec/data/wind_map.png
exec/data/waterDUDV.png
exec/data/ui/hud/items/water.png
exec/data/ui/hud/items/shotgun.png
exec/data/ui/hud/items/500_F_171933826_l2NFofTK1J02vG8RjRyt6e7n37yHwHgY.jpg
exec/data/ui/hud/items/500_F_171933770_vkflo4Ism0uNgN5RJr8GiB3eGs4g1pgm.jpg
exec/data/ui/hud/item_quad_selected.png
exec/data/ui/hud/item_quad_base.png
exec/data/ui/hud/hud_map.png
exec/data/textures/waterDUDV.png
exec/data/textures/terrain_heightmap_256_test.png
exec/data/textures/terrain_heightmap_256.png
exec/data/textures/terrain_heightmap_256 - copia.png
exec/data/textures/terrain_heightmap_1024.png
exec/data/textures/terrain_blendmap_256.png
exec/data/textures/terrain_blendmap_1024.png
exec/data/textures/terrain_blendmap_1024 - copia (2).png
exec/data/textures/terrain_8.png
exec/data/textures/terrain_64.png
exec/data/textures/terrain_64 - copia.png
exec/data/textures/terrain_4_.png
exec/data/textures/terrain_4.png
exec/data/textures/terrain_32.png
exec/data/textures/terrain_256_.png
exec/data/textures/terrain_16.png
exec/data/textures/terrain64_orig.png
exec/data/textures/terrain64.png
exec/data/textures/terrain256.png
exec/data/textures/terrain.png
exec/data/textures/sparkle_64.png
exec/data/textures/smoke_64_.png
exec/data/textures/smoke_64.png
exec/data/textures/smoke_256.png
exec/data/textures/smoke_03.png
exec/data/textures/smoke.png
exec/data/textures/sand_normalmap.png
exec/data/textures/sand_256.png
exec/data/textures/sand2_normalmap.png
exec/data/textures/sand2.png
exec/data/textures/sand.png
exec/data/textures/rock_normalmap.bmp
exec/data/textures/rock_normal_256.png
exec/data/textures/rock_256.png
exec/data/textures/rock3_normalmap.png
exec/data/textures/rock3.png
exec/data/textures/rock.png
exec/data/textures/palette.png
exec/data/textures/normal_water.png
exec/data/textures/normal_64.png
exec/data/textures/normal_64 (2).png
exec/data/textures/noise.png
exec/data/textures/mud_normalmap.png
exec/data/textures/mud3_normalmap.png
exec/data/textures/mud3.png
exec/data/textures/mud2_normalmap.png
exec/data/textures/mud2.png
exec/data/textures/mud.png
exec/data/textures/heighmap_64.png
exec/data/textures/grid_64_.png
exec/data/textures/grid_64.png
exec/data/textures/grid_64 - copia.png
exec/data/textures/grass_normalmap.png
exec/data/textures/grass_dark_256.png
exec/data/textures/grass_256.png
exec/data/textures/grass5.png
exec/data/textures/grass4_normalmap.png
exec/data/textures/grass4.png
exec/data/textures/grass3.png
exec/data/textures/grass2dark.png
exec/data/textures/grass2.png
exec/data/textures/grass.png
exec/data/textures/fbm64.png
exec/data/textures/fbm2_256.png
exec/data/textures/fbm256.png
exec/data/textures/fbm2.png
exec/data/textures/fbm1.png
exec/data/terrain_heightmap_256_test.png
exec/data/terrain_heightmap_256.png
exec/data/terrain_blendmap_256.png
exec/data/terrain_blendmap_1024.psd
exec/data/terrain_8.png
exec/data/terrain_64.png
exec/data/terrain_64 - copia.png
exec/data/terrain_4_.png
exec/data/terrain_4.png
exec/data/terrain_32.png
exec/data/terrain_256_.png
exec/data/terrain_16.png
exec/data/terrain64_orig.png
exec/data/terrain64.png
exec/data/terrain256.png
exec/data/terrain/mars/red_rock.png
exec/data/terrain/mars/mars_high.png
exec/data/terrain/mars/dirt.png
exec/data/terrain/mars/dirt-texture.gif
exec/data/terrain/mars/burnt_sand_light.png
exec/data/terrain.png
exec/data/smoke_64.png
exec/data/smoke_256.png
exec/data/smoke.png
exec/data/skybox/sky2/top.png
exec/data/skybox/sky2/right.png
exec/data/skybox/sky2/left.png
exec/data/skybox/sky2/front.png
exec/data/skybox/sky2/bottom.png
exec/data/skybox/sky2/back.png
exec/data/skybox/sky1/top.png
exec/data/skybox/sky1/right.png
exec/data/skybox/sky1/left.png
exec/data/skybox/sky1/front.png
exec/data/skybox/sky1/bottom.png
exec/data/skybox/sky1/back.png
exec/data/shaders/vertex/v_water.cg
exec/data/shaders/vertex/v_vertical_blur.cg
exec/data/shaders/vertex/v_text.cg
exec/data/shaders/vertex/v_test_terrain_1.cg
exec/data/shaders/vertex/v_skybox.cg
exec/data/shaders/vertex/v_shadow.cg
exec/data/shaders/vertex/v_quad.cg
exec/data/shaders/vertex/v_particle.cg
exec/data/shaders/vertex/v_overdraw.cg
exec/data/shaders/vertex/v_model_normalmap.cg
exec/data/shaders/vertex/v_model_animated.cg
exec/data/shaders/vertex/v_model.cg
exec/data/shaders/vertex/v_horizontal_blur.cg
exec/data/shaders/vertex/v_gui_quad.cg
exec/data/shaders/vertex/v_grass.cg
exec/data/shaders/vertex/v_energy_wall.cg
exec/data/shaders/vertex/v_default.cg
exec/data/shaders/vertex/v_contrast.cg
exec/data/shaders/vertex/v_bright.cg
exec/data/shaders/vertex/v_bloom.cg
exec/data/shaders/geometry/g_normal.cg
exec/data/shaders/geometry/g_grass.cg
exec/data/shaders/fragment/f_water.cg
exec/data/shaders/fragment/f_text.cg
exec/data/shaders/fragment/f_test_terrain_1.cg
exec/data/shaders/fragment/f_skybox.cg
exec/data/shaders/fragment/f_shadow.cg
exec/data/shaders/fragment/f_quad.cg
exec/data/shaders/fragment/f_particle.cg
exec/data/shaders/fragment/f_overdraw.cg
exec/data/shaders/fragment/f_normal.cg
exec/data/shaders/fragment/f_model_normalmap.cg
exec/data/shaders/fragment/f_model.cg
exec/data/shaders/fragment/f_gui_quad.cg
exec/data/shaders/fragment/f_grass.cg
exec/data/shaders/fragment/f_energy_wall.cg
exec/data/shaders/fragment/f_default.cg
exec/data/shaders/fragment/f_contrast.cg
exec/data/shaders/fragment/f_bright.cg
exec/data/shaders/fragment/f_blur.cg
exec/data/shaders/fragment/f_bloom.cg
exec/data/sand_normalmap.png
exec/data/sand_256.png
exec/data/sand2_normalmap.png
exec/data/sand2.png
exec/data/sand.png
exec/data/rock_normalmap.bmp
exec/data/rock_normal_256.png
exec/data/rock_256.png
exec/data/rock3_normalmap.png
exec/data/rock3.png
exec/data/rock.png
exec/data/normal_water.png
exec/data/normal_64.png
exec/data/normal_64 (2).png
exec/data/noise.png
exec/data/mud_normalmap.png
exec/data/mud3_normalmap.png
exec/data/mud3.png
exec/data/mud2_normalmap.png
exec/data/mud2.png
exec/data/mud.png
exec/data/models/yurown/Sci-Fi_Soldier.png
exec/data/models/yurown/Sci-Fi_Soldier.fbx
exec/data/models/wooden_bridge/wooden_bridge.fbx
exec/data/models/wooden_bridge/wooden_bridge.fbm/kirisSurface_Color.jpg
exec/data/models/wooden_bridge/wooden_bridge.fbm/direklerSurface_Color.jpg
exec/data/models/wooden_bridge/wooden_bridge.fbm/basamaklarSurface_Color.jpg
exec/data/models/wooden_bridge/kirisSurface_Color.jpg
exec/data/models/wooden_bridge/direklerSurface_Color.jpg
exec/data/models/wooden_bridge/basamaklarSurface_Color.jpg
exec/data/models/wooden/wood_texture.png
exec/data/models/wooden/wood.fbx
exec/data/models/tree4/tree_trunk_normal.png
exec/data/models/tree4/tree_trunk_lod2.obj
exec/data/models/tree4/tree_trunk_lod1.obj
exec/data/models/tree4/tree_trunk_lod0.obj
exec/data/models/tree4/tree_trunk.png
exec/data/models/tree4/tree_trunk.mtl
exec/data/models/tree4/tree_foliage_normal.png
exec/data/models/tree4/tree_foliage_lod2.obj
exec/data/models/tree4/tree_foliage_lod1.obj
exec/data/models/tree4/tree_foliage_lod0.obj
exec/data/models/tree4/tree_foliage.png
exec/data/models/tree4/tree_foliage.mtl
exec/data/models/tree2/full019.obj
exec/data/models/tree/tree.obj
exec/data/models/tree/SampleLeaves_2.tga
exec/data/models/tree/SampleLeaves_2.png
exec/data/models/tree/BroadleafBark.tga
exec/data/models/tree/BroadleafBark.png
exec/data/models/tree/AlanTree.fbx
exec/data/models/stone/stone.obj
exec/data/models/stone/stone.mtl
exec/data/models/stone/specular.png
exec/data/models/stone/READ THIS.txt
exec/data/models/stone/normal.png
exec/data/models/stone/diffuse_256.png
exec/data/models/stone/diffuse.png
exec/data/models/stall/stall.png
exec/data/models/stall/stall.obj
exec/data/models/stall/stall.blend
exec/data/models/spider_new/Spinnen_Bein_tex_COLOR_.png
exec/data/models/spider_new/Spinnen_Bein_tex_COLOR_.jpg
exec/data/models/spider_new/Spinnen_Bein_tex_COLO.jpg
exec/data/models/spider_new/Spinnen_Bein_tex_2.jpg
exec/data/models/spider_new/Spinnen_Bein_tex_2.jp.jpg
exec/data/models/spider_new/Spinnen_Bein_tex.jpg
exec/data/models/spider_new/spider.dae
exec/data/models/spider_new/SH3.png
exec/data/models/spider_new/haar_detail_NRM.jpg
exec/data/models/sphere/sphere.obj
exec/data/models/sphere/sphere.mtl
exec/data/models/props/statue.obj
exec/data/models/props/statue.mtl
exec/data/models/props/MedievalDungeonPropsAtlas02_Normals.png
exec/data/models/props/MedievalDungeonPropsAtlas02.png
exec/data/models/props/MedievalDungeonPropsAtlas01_Normals.png
exec/data/models/props/MedievalDungeonPropsAtlas01.tif
exec/data/models/props/MedievalDungeonPropsAtlas01.png
exec/data/models/props/MedievalDungeonAtlas04_Normals.png
exec/data/models/props/MedievalDungeonAtlas04.png
exec/data/models/props/MedievalDungeonAtlas03_Normals.png
exec/data/models/props/MedievalDungeonAtlas03.png
exec/data/models/props/floor.obj
exec/data/models/props/floor.mtl
exec/data/models/props/cube_2.png
exec/data/models/props/cube_2.obj
exec/data/models/props/cube.png
exec/data/models/props/cube.obj
exec/data/models/props/cube.mtl
exec/data/models/props/crate.obj
exec/data/models/props/crate.mtl
exec/data/models/props/chest.obj
exec/data/models/props/chest.mtl
exec/data/models/props/cage.obj
exec/data/models/props/cage.mtl
exec/data/models/props/brazier.obj
exec/data/models/props/brazier.mtl
exec/data/models/props/barrel.obj
exec/data/models/props/barrel.mtl
exec/data/models/model.dae
exec/data/models/mazo/mazo.png
exec/data/models/mazo/mazo.obj
exec/data/models/mazo/mazo.mtl
exec/data/models/marine/Tx_Marine_Color.png
exec/data/models/marine/marine_triangle.mtl
exec/data/models/marine/marine_normal_1024.png
exec/data/models/marine/marine_1024.png
exec/data/models/marine/marine.obj
exec/data/models/marine/marine.mtl
exec/data/models/hermes/hermes.obj
exec/data/models/gun_robot/gun_robot.dae
exec/data/models/gun_robot/GB_N.jpg
exec/data/models/gun_robot/GB_D.jpg
exec/data/models/gun_robot/GB_C.jpg
exec/data/models/grass/tall-grass-png-photos-1.png
exec/data/models/grass/images.jpg
exec/data/models/grass/grass_005.png
exec/data/models/grass/grass3.png
exec/data/models/grass/grass2.png
exec/data/models/grass/grass2.obj
exec/data/models/grass/grass2 - copia.png
exec/data/models/grass/grass1_normal.png
exec/data/models/grass/grass1_diffuse.png
exec/data/models/grass/grass1.png
exec/data/models/grass/grass1.obj
exec/data/models/grass/grass1.mtl
exec/data/models/grass/33098d30057e0687837548053ff031e5.jpg
exec/data/models/farmer/farmer_texture.png
exec/data/models/farmer/farmer_normalmap.png
exec/data/models/farmer/farmer_.dae
exec/data/models/farmer/farmer0.txt
exec/data/models/farmer/farmer.fbx
exec/data/models/farmer/farmer.dae
exec/data/models/ethan/model.png
exec/data/models/ethan/model.fbx
exec/data/models/ethan/model.dae
exec/data/models/ethan/idle.fbx
exec/data/models/ethan/idle.dae
exec/data/models/enano/normal.png
exec/data/models/enano/enano.png
exec/data/models/enano/enano.obj
exec/data/models/enano/enano.mtl
exec/data/models/elephant/maps/LAKEREM.jpg
exec/data/models/elephant/maps/ElphSkin.jpg
exec/data/models/elephant/maps/EleTusk.jpg
exec/data/models/elephant/LAKEREM.JPG
exec/data/models/elephant/ELTSK_L.JPG
exec/data/models/elephant/ELPHSKIN.JPG
exec/data/models/elephant/ELPHSK_L.JPG
exec/data/models/elephant/ELETUSK.JPG
exec/data/models/elephant/ELEPHAV.MAX
exec/data/models/elephant/elephant.obj
exec/data/models/elephant/elephant.mtl
exec/data/models/elephant/Elephant.max
exec/data/models/elephant/ELEPHAM.MAX
exec/data/models/elephant/ELEPHAL.MAX
exec/data/models/default/cube.obj
exec/data/models/cube/untitled.obj
exec/data/models/cube/untitled.mtl
exec/data/models/cube/untitled.dae
exec/data/models/cube/untitled.blend
exec/data/models/cube/rock_normal_256.png
exec/data/models/cube/rock_256.png
exec/data/models/cube/cubeTextured.dae
exec/data/models/cube/cube_aabb.obj
exec/data/models/cube/cube_aabb.mtl
exec/data/models/cube/cube.obj
exec/data/models/cube/cube.mtl
exec/data/models/cube/cube.fbx
exec/data/models/cube/cube.dae
exec/data/models/cube/cube.blend
exec/data/models/cube/brick_normal_256.png
exec/data/models/cube/brick_256.png
exec/data/models/casa/cottage_obj.obj
exec/data/models/casa/cottage_obj.mtl
exec/data/models/casa/cottage_normal.png
exec/data/models/casa/cottage_diffuse.png
exec/data/models/capsule/capsule0.jpg
exec/data/models/capsule/capsule.obj
exec/data/models/capsule/capsule.mtl
exec/data/models/boat/wood3.jpg
exec/data/models/boat/wood2.jpg
exec/data/models/boat/wood1.jpg
exec/data/models/boat/boat.obj
exec/data/models/boat/boat.mtl
exec/data/models/boat/boat.fbx
exec/data/models/boat/boat.dae
exec/data/models/boat/boat.blend
exec/data/models/barrel/barrelNormal.png
exec/data/models/barrel/barrel.png
exec/data/models/barrel/barrel.obj
exec/data/models/Adventurer-Militia/Militia-Texture.psd
exec/data/models/Adventurer-Militia/Militia-Texture.png
exec/data/models/Adventurer-Militia/Militia-Texture.jpg
exec/data/models/Adventurer-Militia/Militia-Adventurer-RIGGED.fbx
exec/data/models/Adventurer-Militia/Militia-Adventurer-RIGGED.dae
exec/data/models/Adventurer-Militia/Militia-Adventurer-RIGGED.blend1
exec/data/models/Adventurer-Militia/Militia-Adventurer-RIGGED.blend
exec/data/models/Adventurer-Militia/Militia-Adventurer-RIGGED - copia.dae
exec/data/heighmap_64.png
exec/data/grass_normalmap.png
exec/data/grass_dark_256.png
exec/data/grass_256.png
exec/data/grass4_normalmap.png
exec/data/grass4.png
exec/data/grass.png
exec/data/fonts/quartzMS.png
exec/data/fonts/quartzMS.fnt
exec/data/fonts/OCRAExtended_DField.png
exec/data/fonts/OCRAExtended_DField.fnt
exec/data/fonts/OCRAExtended.png
exec/data/fonts/OCRAExtended.fnt
exec/data/fonts/CourierNew.png
exec/data/fonts/CourierNew.fnt
exec/data/fbm64.png
exec/data/fbm2_256.png
exec/data/fbm256.png
exec/data/fbm2.png
exec/data/fbm1.png
exec/data/degradated_red_2000.png
exec/data/degradated_red.png
